.PokeCard{
  width: 300px;
  padding: 10px;
  margin: 1rem;
  box-shadow: 7px 10px 12px -5px rgba(0,0,0,0.52);
  text-align: center;
  background: #ffffff;
  border-radius: 2px;

}
.PokeCard-data{
font-size: 80%;
}
.PokeCard-title{
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
}
.PokeCard-image{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  background: #eceff1;
  border-radius: 2px;
}
.PokeCard img {
  transition: all ease 500ms;
}
.PokeCard img:hover{
transform: scale(1.25);
opacity: .9;
}